<h1 align="center">Welcome to web-payments.io</h1>

<p>
This is a demonstration of the <a href="https://github.com/WICG/web-payments-browser-api">Web Payments Browser API</a>.
</p>
<p>
The source for this demonstration can be found here:
<ul>
  <li>
    <a href="https://github.com/digitalbazaar/web-payments.io">GitHub: web-payments.io</a>
  </li>
  <li>
    <a href="https://github.com/digitalbazaar/payment-polyfill">GitHub: payment-polyfill</a>
  </li>
</ul>
</p>
<p>
The following demo walks you through the registration of two
payment applications and the processing of a payment request.
</p>

<ol>
  <li><a href="/first-pay/register">Register Payment Application "FirstPay"</a></li>
  <li><a href="/next-pay/register">Register Payment Application "NextPay"</a></li>
  <li><a href="/payee">Perform a Payment</a></li>
  <li>TODO: add a step for each possible payment flow</li>
</ol>
